# Keil uVision user-specific files
*.uvguix.*
*.uvoptx
*.bak
*.uvgui.*

# Temporary files
*.tmp
*.log
*.lst
*.map
*.axf
*.crf
*.d
*.o
*.dep

# Ignore build folders
**/Objects/
**/Listings/
**/Debug/
**/Release/